*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: #f0f0d0;
  height: 10vh;
}

.logo {
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
  line-height: 10vh;
}

#wrapper {
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #f0eedc;
  font-size: 20px;
}

textarea {
  resize: none;
}

.absolute {
  position: absolute;
}

.calculation-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  height: 100%;
  width: 50%;
}

.visualise-box {
  padding: 10px;
  height: 100%;
  width: 50%;
}

.op-papa {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 4.5vh;
  width: 85%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
}

select {
  height: 4.5vh;
  width: 50%;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

#convert {
  background: rgb(23, 209, 23);
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
}

#reset {
  background: grey;
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
}

#swap {
  background: grey;
  color: white;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
}

#copy {
  background: rgba(43, 7, 7, 0.507);
  color: white;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 4px;
}

textarea {
  height: 15vh;
  width: 85%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
}

table {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  text-align: center;
}

.divtb {
  width: 25vh;
}

/* Utility Class */

#table-data {
  display: none;
  width: 100%;
}



@media screen and (max-width:842px) {
  #wrapper {
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f0eedc;
    font-size: 20px;
  }
  
  .calculation-box {
    width: 100%;
    height: 50%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    position: relative;
  }
  
  .visualise-box {
    width: 100%;
    height: 50%;
    padding: 10px;
  }
  
  .op-papa {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  
  textarea {
    height: 10vh;
    width: 85%;
    border-radius: 5px;
    font-size: 20px;
  }
  
  #convert {
    font-size: 15px;
    padding: 5px;
  }
  #reset {
    font-size: 15px;
    padding: 5px;
  }
  
  #swap {
    font-size: 15px;
    padding: 5px;
  }
  
  #copy {
    font-size: 15px;
    padding: 5px 20px;
  }
}